.amChartSocial {
  width: 100%;
  height: 100%
  ;
}

.currencyRow {
	height: 200px;
	margin-top: 50px;
}

.currencyData {
	float:left;
	margin-top: 20px;
	font-family: Roboto;
	color: #444;
	padding: 0px 0px 6px 0px;
	font-size: 1vw;
	line-height: 50px;
	letter-spacing: -2px;
	font-weight: bold;
}

.currencyName {
	float:left;
	font-size: 2vw;
}

.currencyImg {
	float:right;
	padding: 0px;
}

.currencyDetails {
	width: 50%;
	float:left;
	font-family: Roboto;
	color: #31708f;
	font-size: 1vw;
	line-height: 50px;
	letter-spacing: -2px;
	font-weight: bold;
}